/* General styles */
body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
}

html{
    overscroll-behavior: none;
    -webkit-overflow-scrolling: none;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* Navigation styles */
header{
    width:100%;
    position: sticky;
    z-index:1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(68, 69, 84);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    z-index:1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: #F3F3F3;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 16px; /* Add corner radius to links */
}

nav ul li a:hover {
    background-color: #F3F3F3;
    color: #444554;
}

.logo {
    width: 200px; /* Adjust size as needed */
    height: auto;
    margin-right: 20px; /* Add some space between the logo and the nav items */
}

/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
}


nav ul.active {
    display: flex;
}

/* Hero section */
.hero-section {
    height:50vh;
    position: relative;
    text-align: center;
    color: rgb(243, 243, 243);
    background-image: url(https://github.com/Obrienmaina-Mosbach/Photobucket/blob/main/Media/Images/optimized/Hero.png?raw=true);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.hero-image {
    width: 100%;
    height: auto;
    border-radius: 1rem; /* Add corner radius */
}



.hero-text {
    background-color: rgba(68, 69, 84, 0.4); /* Add a background color with transparency */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-sizing:border-box ; /* Include padding in the element's total width and height */
    font-size: 1em; /* Default font size */
    overflow: hidden; /* Prevent overflow */
}


/* Gallery section */
.gallery-section {
    padding: 20px;
    text-align: center;
}

.gallery-container {
    position: relative;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.gallery-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 30px;
}

.gallery {
    display: flex;
    transition: transform 0.5s ease;
    gap: 10px; /* Add gap between images */
}

.gallery img {
    width: calc(33.33%); /* Adjust width to account for gap */
    flex-shrink: 0;
    transition: transform 0.3s ease; /* Add transition for zoom effect */
    border-radius: 16px;
    
}

.gallery img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
    border-radius: 16px;
}

.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.gallery-nav.left {
    left: 0px;
    background-color: white;
    color:#444554 ;
}

.gallery-nav.right {
    right: 0px;
    background-color: white;
    color:#444554 ;
}

/* Modal styles */
.modal {
    display:none; /* Hidden by default */
    position: fixed ;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(68, 69, 84, 0.9); /* Black background with opacity */
    display: flex;
    justify-content: center;
    align-items: center;
}

a:active{
    color: #172121;
}

a:hover{
    color: #F3F3F3 ; 
}

a{
    color: #BFACB5 ;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    border-radius: 16px;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

        /* Footer */
        footer {
            background-color:#444554; /* Black footer */
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            color: #F3F3F3;
            text-align: center;
            padding: 10px 0;
            align-items: center;
        }
        footer .container{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        footer .container .footer-item{
            width:30%;
            display:flex;
            flex-direction: column;
            height:max-content;
            background-color: #444554;
            align-items: center;
            
        }
        .container{
            margin:0 auto;
            width:80%;
        }
        
        footer .container .footer-item img{
        
            width: 200px;
            display: flex;
            justify-content: center; 
            align-items: center;
        }
        a:active{
            color: #172121;
        }
        
        a:hover{
            color: #F3F3F3 ;
        }
        
        a{
            color: #BFACB5 ;
        }
        
        
        footer .footer-icons{
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: center; 
        }
        
        footer .container .footer-item img.logo-icon{
            display: none;
            width: 50px; /* Adjust size as needed */
        }
        
                
        
                /* Responsive */
                @media (max-width: 768px) {
                    .package {
                        flex-direction: column !important;
                        text-align: center;
                    }
        
                    .package-img,
                    .package-description {
                        width: 100%;
                    }
        
        
            footer .container .footer-item img.logo {
                display: none;
            }
            footer .container .footer-item img.logo-icon {
                display: block;
            }
                }
        

/* Responsive navbar */
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
        width: 100%;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        padding: 10px;
    }

    .hamburger {
        display: flex;
    }
    .gallery img{
        width:100%;
    }

    .hero-text {
        font-size: 1.2em; /* Adjust font size for smaller screens */
        padding: 15px; /* Adjust padding for smaller screens */
    }

    html{
        overscroll-behavior: none;
        -webkit-overflow-scrolling: none;
        overflow-x: hidden;
    }

    footer .container{
        flex-direction: column;
    }

}

@media (max-width: 480px) {

    nav {
        flex-direction: row;
        align-items: flex-start;
    }

    html{
        overscroll-behavior: none;
        -webkit-overflow-scrolling: none;
        overflow-x: hidden;
    }

    .hero-text {
        font-size: 1em; /* Adjust font size for very small screens */
        padding: 10px; /* Adjust padding for very small screens */
    }
    
    .gallery img{
        width:100%;
    }

    .gallery-container{
            width:100%;
    }
}